
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Error</title>
    <style>
        input{
                    background-color: lightcoral;
                    border: 2px solid black;
                    margin:5px;
                }
    </style>
</head>
<body>
<div>
    <h2>INVALID USERNAME OR PASSWORD!</h2>
    <form action="Error" method="get">
        <input type="submit" value="Retry"/>
    </form>
</div>
</body>
</html>