
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Login</title>
    <style>
        .container-login{
            background-color: lightgray;
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
            height: 150px;
        }
        input{
            background-color: lightcoral;
            border: 2px solid black;
            margin:5px;
        }
    </style>
</head>
<body>
    <div class="container-login">
        <form action="Main/Login" method="post">
            Enter username : <input type="text" name="usernameLogin"> <BR>
            Enter password : <input type="password" name="passwordLogin"> <BR>
            <input type="submit" value="Login" />
        </form>
        <form action="Main/GoToRegister" method="get">
        No account? <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>