
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <style>
        .container-register{
            background-color: lightgray;
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
            height: 150px;
        }
        input{
            background-color: lightcoral;
            border: 2px solid black;
            margin:5px;
        }
    </style>
</head>
<body>
<div class="container-register">
    <form action="Register" method="get">
        Enter username : <input type="text" name="usernameRegister"> <BR>
        Enter password : <input type="password" name="passwordRegister"> <BR>
        <input type="submit" value="Submit"/>
    </form>
</div>
</body>
</html>