
@{
    Layout = null;
}
@{
    String username = (String) Session["user"];
    if (username == null)
    {
        Response.Redirect("/Main");
    }
    {
        <p>Welcome @username</p>
    }
}

<!DOCTYPE html>

<html>
<head>
    <title>Save</title>
    <style>
        .container-add{
            background-color: lightgray;
            width: 50%;
            margin-left: 25%;
            margin-right: 25%;
            height: 200px;
        }
        
        input{
            background-color: lightcoral;
            border: 2px solid black;
            margin:5px;
        }
    </style>
</head>
<body>
<div class="container-add">
    <form action="SaveBook" method="get">
        Book Title: <input type="text" name="inputTitle_insert" placeholder="Book Title:"><br>
        Book Author: <input type="text" name="inputAuthor_insert" placeholder="Book Author:"><br>
        Book Pages: <input type="text" name="inputPages_insert" placeholder="Book Pages:"><br>
        Book Price: <input type="text" name="inputPrice_insert" placeholder="Book Price:"><br>
        <input type="submit" id="buttonInsert" value="Insert">
    </form>
</div>
</body>
</html>