
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <form action="Main/Login" method="post">
        Name: <input type="text" name="name"> <BR>
        <input type="submit" value="Login" />
    </form>
    
</div>
</body>
</html>